.group-card-container {
  position: relative;
}

.group-card {
  display: flex;
  text-decoration: none;
  color: black;
  padding: 1rem;
  min-height: 6rem;
  max-height: 6rem;
  border-radius: 4px;
  box-shadow: 0 0 5px hsl(0, 0%, 62.4%);
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
  width: 100%;
  transition: 0.3s;
  overflow: hidden;
}

.group-card:hover,
.group-card:focus {
  background-color: rgba(128, 128, 128, 0.162);
}

.group-card:active {
  background-color: rgba(128, 128, 128, 0.39);
}

@media only screen and (max-width: 600px) {
  .group-card {
    padding: 5vw 7.5vw;
  }
}
