.toolbar-card {
  width: 100%;
  display: flex;
  text-decoration: none;
  color: black;
  grid-column: 1/-1;
  padding: 0.5rem 0;
  border-radius: 4px;
  box-shadow: 0 0 5px hsl(0, 0%, 62.4%);
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.toolbar-card:hover,
.toolbar-card:focus {
  background-color: rgba(128, 128, 128, 0.162);
}

.toolbar-card:active {
  background-color: rgba(128, 128, 128, 0.39);
}
