body {
  margin: 0;
  height: fit-content;
  width: fit-content;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#popUpContainer {
  margin: 2rem;
}

#openDashboardButton {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  width: 100%;
  padding: 1rem 2rem;
  background-color: rgba(128, 128, 128, 0.167);
  box-shadow: 0 0 1px 0px gray;
  transition: 0.3s;
}

#isRunningContainer {
  display: flex;
  flex-wrap: nowrap;
}

#isRunningTitle {
  margin-bottom: 1rem;
  cursor: default;
}

#openDashboardButton:hover,
#openDashboardButton:focus {
  background-color: rgb(198, 198, 198);
}

#eyes {
  cursor: default;
  margin: 0;
  margin-left: 0.3rem;
  transition: transform 1.2s;
}

#eyes:hover {
  transform: rotate(360deg);
}
