.bookmark-parent {
  position: relative;
}

.bookmark {
  flex-shrink: 0;
  display: flex;

  text-decoration: none;
  justify-content: space-between;
  padding: 0.5rem;
  gap: 0.25rem;
  background-color: rgba(128, 128, 128, 0.167);
  box-shadow: 0 0 1px 0px gray;
  color: black;
  min-width: fit-content;
}

.bookmark:hover,
.bookmark:focus {
  background-color: rgb(198, 198, 198);
}

.bookmark:hover > .url {
  color: white;
}

.bookmark:active {
  background-color: rgb(173, 173, 173);
}

.info-container > .url {
  color: rgb(127, 127, 127);
  font-style: italic;
}

.bookmark > .button-container > .settings-button {
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  border-radius: 50%;
  border: 1px solid rgb(91, 91, 91);
}
