.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 4rem;
  z-index: 1000;
}

.modal-content > input {
  width: 100%;
  margin-bottom: 2rem;
  padding: 1rem;
}

.modal-content > p {
  font-size: larger;
  margin-bottom: 0.5rem;
}

.modal-content > .button-container {
  display: flex;
  gap: 3vw;
  justify-content: space-between;
}

.modal-content > .button-container > button {
  background-color: rgba(183, 183, 183, 1);
  width: 7rem;
  border: none;
  box-shadow: 0 0 1px black;

  padding: 1rem 2rem;
}

.modal-content > .button-container > button:hover,
.modal-content > .button-container > button:focus {
  background-color: rgb(150, 150, 150);
}

.modal-content > .button-container > button:active {
  background-color: rgb(135, 135, 135);
}

@media only screen and (max-width: 600px) {
  .modal-content {
    padding: 5vh;
  }

  .modal-content > input {
    padding: 2vw;
  }
  .modal-content > .button-container {
    flex-wrap: wrap;
    justify-content: center;
    padding: 1vw 2vw;
  }

  .modal-content > .button-container > button {
    padding: 0.5rem;
    width: 100%;
  }
}
